.features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.featureItem {
  flex: 1 1 250px;
  min-width: 250px;
  padding: 24px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 13px -10px rgba(0, 0, 0, 0.7);
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
}

.featureContainer {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.featureMoney {
  font-size: 30px;
  font-weight: 600;
}

.featureRate {
  display: flex;
  align-items: center;
  margin-left: 16px;
  font-size: 16px;
  color: green;
}

.featureRate.negative {
  color: red;
}

.featureIcon {
  font-size: 24px !important;
  margin-left: 5px;
}

.featureSub {
  font-size: 14px;
  color: gray;
}
