.main-layout {
  display: flex;
  height: 100vh;
}

.main-sidebar {
  width: 260px;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(63, 63, 63, 0.08);
  flex-shrink: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.main-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
  overflow: auto;
  min-width: 0;
}
