.nav-link-custom {
  display: flex;
  font-size: 14px;
  gap: 3px;
  border: none;
  background-color: transparent;
  padding: 0.5rem 0.5rem;
  transition: background-color 0.2s ease;
  color:rgba(32, 32, 32, 0.85);
  border-radius: 10px;
  text-decoration: none;
}

.nav-link-custom:hover {
  background-color: rgba(40, 124, 250, 0.94);
  color: #fff;
  cursor: pointer;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
  color: #999 !important;
}
.active-link {
  background-color:rgba(40, 124, 250, 0.94);
  color: #fff;
  font-weight: 600;
}

